<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>GoodsDelivery</title>
    <style>
        hr {
        border: none; /* Убираем границу */
        background-color: blue; /* Цвет линии */
        color: blue; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        margin: 50px;
        }
    </style>
</head>
<body>
    <div>
        <h1 class="ml-5">GoodsDelivery
        <img src="https://sun9-54.userapi.com/c857320/v857320278/17ab71/PLa_D6qPLTA.jpg" width=4% alt="бот"/>
        </h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Order goods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/couriers">For couriers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Who are we?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">Contacts</a>
            </li>
        </ul>
    </div>
    <p></p>
    <h3 class="ml-5">All Orders</h3>
    <hr>
    <p class="ml-5">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb29cd16039f82e3a826cf5191219ce410fc03a455fbb3260faf5ea093acf081&amp;width=1200&amp;height=600&amp;lang=ru_RU&amp;scroll=true&amp;apikey=40d1649f-0493-4b70-98ba-98533de7710b">
        </script>
    </p>

</body>
</html>
