
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        hr{
        border: none; /* Убираем границу */
        background-color: blue; /* Цвет линии */
        color: blue; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        margin: 50px;
        }
    </style>
    <title>GoodsDelivery</title>
    

    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        

    // Функция ymaps.ready() будет вызвана, когда
    // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
    ymaps.ready(init);
 
    function init() {
        // Создание карты.
        // https://tech.yandex.ru/maps/doc/jsapi/2.1/dg/concepts/map-docpage/
        var myMap = new ymaps.Map("map", {
            // Координаты центра карты.
            // Порядок по умолчнию: «широта, долгота».
            center: [59.14, 37.9],
            // Уровень масштабирования. Допустимые значения:
            // от 0 (весь мир) до 19.
            zoom: 12,
            // Элементы управления
            // https://tech.yandex.ru/maps/doc/jsapi/2.1/dg/concepts/controls/standard-docpage/
            controls: [
 
                'zoomControl', // Ползунок масштаба
                'rulerControl', // Линейка
                'routeButtonControl', // Панель маршрутизации
                'trafficControl', // Пробки
                'typeSelector', // Переключатель слоев карты
                'fullscreenControl', // Полноэкранный режим
 
                // Поисковая строка
                new ymaps.control.SearchControl({
                    options: {
                        // вид - поисковая строка
                        size: 'large',
                        // Включим возможность искать не только топонимы, но и организации.
                        provider: 'yandex#search'
                    }
                })
 
            ]
        });
 
        // Добавление метки
        // https://tech.yandex.ru/maps/doc/jsapi/2.1/ref/reference/Placemark-docpage/
        for (var GG in tasks) 
            {
                var myPlacemark = new ymaps.Placemark([59.1332375, 37.9887025], {
                    // Хинт показывается при наведении мышкой на иконку метки.
                    hintContent: 'Содержимое всплывающей подсказки',
                    // Балун откроется при клике по метке.
                    balloonContent: 'Содержимое балуна'
                });
            }
        // После того как метка была создана, добавляем её на карту.
        myMap.geoObjects.add(myPlacemark);
 
    }
    </script>



</head>
<body>
    <div>
        <h1 class="ml-5">GoodsDelivery
        <img src="https://sun9-54.userapi.com/c857320/v857320278/17ab71/PLa_D6qPLTA.jpg" width=4% alt="бот"/>
        </h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="/index">Order goods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/couriers">For couriers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Who are we?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contacts">Contacts</a>
            </li>
        </ul>
    </div>
    <p></p>
    

    <h3 class="ml-5">All Orders</h3>
    <hr>
    <div class="ml-5">
        <ul class="list-group">
            {% for GG in tasks %}
            <li class="list-group-item">
                    <h1>Number - {{GG.ID}}</h1>
                    <li class="list-group-item"; style='width: 30%;float: left;'>Name - <span class="{% if GG.done %} done {% endif %}">{{GG.Name}}</span></li>
                    <li class="list-group-item"; style='width: 30%;float: left;'>Address - <span class="{% if GG.done %} done {% endif %}">{{GG.Address}}</span>
                        <a href="#" id='OnBottom'> ↓ Посмотреть на карте ↓</a></li>
                    <li class="list-group-item"; style='width: 30%;float: left;'>Goods - <span class="{% if GG.done %} done {% endif %}">{{GG.Goods}}</span></li>
                    <li class="list-group-item"; style='width: 30%;float: left;'>Period - <span class="{% if GG.done %} done {% endif %}">{{GG.Period}}</span></li>
                    <li class="list-group-item"; style='width: 30%;float: left;'>Coment - <span class="{% if GG.done %} done {% endif %}">{{GG.Coment}}</span></li> 
                    <img src={{GG.Photo}} width=20% alt="бот"/>    
                <a href="{{url_for('delete', ID=GG.ID)}}" class="btn btn-danger btn-sm">Take this</a>     
                <hr>
            </li>         
            {% endfor %}
        </ul>
    </div>
    <div id="map" style="width: 1200px; height: 800px"></div>
</body>
</html>
