<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div>
        <h1 class="ml-5" color="green">GoodsDelivery</h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/index">Main Menu</a>
            <li class="nav-item">
              <a class="nav-link active" href="#">Order goods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">For couriers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Who are we?</a>
            </li>
            </li>
        </ul>
    </div>
    <div class="cardholder">
        <div class="mx-3 mb-2" style="width: 18rem; margin: 1rem auto;">
          <img src="https://sun9-43.userapi.com/c858420/v858420435/86187/TUUCwQVJIh0.jpg" class="card-img-top" alt="Сэрёга">
          <div class="card-body">
            <h5 class="card-title">Сергей</h5>
            <p class="card-text">Идейный вдохновитель и просто чоткий человек💪.</p>
            <a href="https://vk.com/s0fronov" target="_blank"class="btn btn-primary">VK</a>
          </div>
        </div>
        <div class="mx-3 mb-2" style="width: 18rem; margin: 1rem auto;">
          <img src="https://sun9-59.userapi.com/c857616/v857616184/11c2ca/kBN0eL39MhY.jpg" class="card-img-top" alt="Елешпей">
          <div class="card-body">
            <h5 class="card-title">Елисей</h5>
            <p class="card-text">Тот, кто бахал эту страницу💩.</p>
            <a href="https://vk.com/crampass" target="_blank" class="btn btn-primary">VK</a>
          </div>
        </div>
        <div class="mx-3 mb-2" style="width: 16rem; margin: 1rem auto;">
          <img src="https://sun9-43.userapi.com/c4337/u4166663/-6/z_eef22b0f.jpg" class="card-img-top" alt="Артур Хатипович">
          <div class="card-body">
            <h5 class="card-title">Артур Хатипович</h5>
            <p class="card-text">Следил за нашим проектом лучше чем мы сами👿.</p>
            <a href="https://vk.com/artur_khuziakhmetov" target="_blank" class="btn btn-primary">VK</a>
          </div>
        </div>
    </div>
</body>
</html>
