<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <title>GoodsDelivery</title>
</head>
<body>
    <div>
        <h1>GoodsDelivery</h1>
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="#">Main Menu</a>
            <li class="nav-item">
              <a class="nav-link active" href="#">Order goods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">For couriers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Who are we?</a>
            </li>
            </li>
        </ul>
    </div>
    <div>
      <div class="card" style="width: 18rem;">
        <img src="https://sun9-43.userapi.com/c858420/v858420435/86187/TUUCwQVJIh0.jpg" class="card-img-top" alt="Сэрёга">
        <div class="card-body">
          <h5 class="card-title">Сергей</h5>
          <p class="card-text">Идейный вдохновитель и просто чоткий человек💪.</p>
          <a href="https://vk.com/s0fronov" class="btn btn-primary">VK</a>
        </div>
      </div>
    </div>
</body>
</html>
