<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>GoodsDelivery</title>
    <style>
      form.form1{
      color: white;
      margin: 20px 0 20px 0;
      padding: 200px;
        }
      hr{
        border: none; /* Убираем границу */
        background-color: blue; /* Цвет линии */
        color: blue; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        margin: 50px;
        }
    </style>
</head>
<body>
  <div>
    <h1 class="ml-5">GoodsDelivery</h1>

    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="/index">Main Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/couriers">Order goods</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Who are we?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
    </ul>
  </div>
  <h3 class="ml-5">Register your product:</h3>
  <hr>
  <form class="ml-5"; style='height: 30%;float: left;'>
  <div class="form-group">
    <label for="name">Your name</label>
    <input type="name" class="form-control" name="name" id="fullname" aria-describedby="nameHelp" placeholder="Full name">
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="address" class="form-control" name="address" id="address" aria-describedby="addressHelp" placeholder="Full address">
  </div>
  <div class="form-group">
    <label for="goods">Your goods</label>
    <input type="goods" class="form-control" name="goods" id="goods" aria-describedby="nameHelp" placeholder="Name goods">
  </div>
  <div class="form-group">
    <label for="period">The period of placement</label>
    <select class="form-control" name="period" id="period">
      <option>1 day</option>
      <option>1 weeks</option>
      <option>1 month</option>
      <option>1 year</option>
      <option>forever</option>
    </select>
  </div>
  <div class="form-group">
    <label for="Comentarios">Comentarios</label>
    <textarea class="form-control" name="coment" id="Comentarios" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File photo</label>
    <input type="file" class="form-control-file" name="name" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Try to show your product in full in the photo</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  <p class="ml-5"; style= 'float: right; margin-right: 50px;'>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abb29cd16039f82e3a826cf5191219ce410fc03a455fbb3260faf5ea093acf081&amp;width=1450&amp;height=600&amp;lang=ru_RU&amp;scroll=true&amp;apikey=40d1649f-0493-4b70-98ba-98533de7710b">
        </script>
  </p>
  

</body>
</html>
